
.wrapper{
    margin:10%;
    width:50%;
    margin:0px auto;
    background:white;
    padding:20px;
}

.question{
    border:2px solid black;
    padding:50px;
    border-radius:8px;
    font-size: 2.5vh;
    font-weight: bold;
    text-align:center
}

.answers{
    display: grid;
    margin: 100px 0px;
    align-content: center;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

.answers >div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 2vh;
    border: 2px solid rgb(197, 191, 191);
    border-radius: 8px;
  }
